@font-face {
    font-family: Cabin;
    src: url("Cabin/Cabin-VariableFont_wdth,wght.ttf");
}

html{
    font-family: Cabin;
    overflow-x: hidden;


}

header{

    background-repeat: no-repeat;             /* Changed Background Settings to fit page */
    background-color: #2C2A4A;
    background-size: contain;
    width: 100%;                              /* Changed proportions of header for page */
    height:7%;
    font-size: 7vw;
    text-align: center;
    color: #050609;
}

aside{
    display: table-cell;

    background-repeat: no-repeat;             /* Changed Background Settings to fit page */
    background-color: #4F518C;
    background-size: contain;
    width: 15%;                              /* Changed proportions of header for page */
    height:100%;
    text-align: left;
    color: #050609;
}

main{
    background-color: #907AD6;
    min-height: 100vw;/* Sets the size for the total proportions of links and main together so they line up properly */
    width: 100%;
    display: table;
    margin: 0px;
    margin-bottom: 5vw;
}

textarea{
    background-color: #dacffc;
    display: block;
    width: 80%;
    height: 600px;
    resize: none;
    margin: 0 0 0 0px;
    padding: 0;
    border: 0;
}

input{
    background-color: #dacffc;
    display: block;
    width: 80%;
    resize: none;
    margin: 20px 0 0 0px;
    border-width: 0px 0 0px 0;
}
div{
    align-content: center;
    margin: 0 0 0 20px;
}

footer{
    background-color: #2C2A4A;
    position: sticky; /* Keeps footer at the bottom even when scrolled */
    bottom: 0%;
    left: 0;
    width: 100%;
    height:5vw;
    font-size: 3vw;
    text-align: center;
    color: white;
}
.d-1 {
    --c: #DABFFF; /* the color */
    --b: .1em;    /* border length*/
    --d: 20px;    /* the cube depth */
    --h: 1.2em;   /* the height */

    --_s: calc(var(--d) + var(--b));
    background-color: #4F518C;
    line-height: var(--h);
    color: #0000;
    text-shadow:
            0 calc(-1*var(--_t,0em)) var(--c),
            0 calc(var(--h) - var(--_t,0em)) #fff;
    border: solid #0000;
    overflow: hidden;
    border-width: var(--b) var(--b) var(--_s) var(--_s);
    background:
            linear-gradient(var(--c) 0 0) 100% 100%
     /101% var(--_p,0%) no-repeat,
            conic-gradient(at left var(--d)  bottom var(--d),
            #0000 90deg, rgb(255 255 255 /0.3) 0 225deg,rgb(255 255 255 /0.6) 0) border-box,
            conic-gradient(at left var(--_s) bottom var(--_s),
            #0000 90deg,var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b))  border-box;
    transform: translate(calc(var(--d)/-1),var(--d));
    clip-path:
            polygon(
                    var(--d) 0%,
                    var(--d) 0%,
                    100% 0%,
                    100% calc(100% - var(--d)),
                    100% calc(100% - var(--d)),
                    var(--d) calc(100% - var(--d))
            );
    transition: 0.5s;
}
.d-1:hover {
    transform: translate(0,0);
    clip-path:
            polygon(
                    0% var(--d),
                    var(--d) 0%,
                    100% 0%,
                    100% calc(100% - var(--d)),
                    calc(100% - var(--d)) 100%,
                    0% 100%
            );
    --_t: var(--h);
    --_p: 105%;
}


